* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #edf2f4;
  /* margin: 50px; */
}

.login-grid {
  /* border: 2px solid skyblue; */
  border-radius: 10px;
  margin: auto;
  width: 70%;
  height: 100%;
}

/* Grid */
.grid-container {
  border-radius: 10%;
  margin: auto;
  background-color: #7adee1;
  width: 70%;
  height: 300px;
  display: flex;
  grid-template-columns: 50% 50%;
  gap: 10px;
  align-items: center; /* Align items vertically center */
}

img {
  width: 60%;
  height: 60%;
  margin: auto; /* Remove margin to reduce height */
}

h1 {
  text-align: center;
  margin-top: 70px;
  font-weight: 400px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "l1 i1"
    "l2 i2"
    "vi bt";
  gap: 1px; /* Space between form elements */
  margin: 10px;
}

input {
  margin: 5px 0;
  border: 1px solid darkblue;
  padding: 5px;
  font-size: 1em;
  font-family: "DMSerif";
  border-radius: 5px;
  height: 30px;
}
label {
  margin: 5px 0;
  padding: 5px;
  font-size: 1em;
  font-family: "DMSerif";
  height: 30px;
}

#btn-submit {
  grid-area: bt;
  cursor: pointer;
  background: #7adee1;
  transition: 0.2s;
  height: 40px;
}

#btn-submit:hover {
  background: rgb(225, 225, 234);
}

/* Médias queries pour écrans petits (max-width: 700px) */
@media screen and (max-width: 900px) {
  .grid-container {
    margin: auto;
    padding: auto;
    background-color: #7adee1;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .img {
    width: 100%;
    margin: auto;
  }

  .child2 {
    /* margin: auto; */
    width: 100%;
  }
  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "l1"
      "i1"
      "l2"
      "i2"
      "bt";
    gap: 1px; /* Space between form elements */
    margin: 10px;
  }
}
